{% extends 'mainFDM/base.html' %}

{%block title%}Helper Login{%endblock%}

{%block header%}Please log in to your helper account{%endblock%}

<!-- inside the main row for columns, attributes specified within base.html -->
{% block row1 %}
    <div class="col-auto form-col p-4 justify-content-center" id="login-form-col">

        <!-- helper login form -->
        <h3 class="form-title">Log In</h3>

        <form method="post">
            {% csrf_token %}

            <!-- show errors and messages -->
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endfor %}

            {%  for message in messages %}
                {% if message.tags %}
                    {% if message.tags == "error" %}
                        <div  class="alert alert-danger" >{{ message|linebreaks }}</div>
                    {% elif message.tags == "success" %}
                        <div  class="alert alert-success" >{{ message|linebreaks }}</div>
                    {% elif message.tags == "info" %}
                        <div  class="alert alert-warning" >{{ message|linebreaks }}</div>
                    {% else %}
                        <div  class="alert alert-secondary" >{{ message|linebreaks }}</div>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <!-- form fields -->
            <div class="form-floating mb-3">
              <input name="username" type="text" class="form-control" id="username_field" placeholder="Username" required>
              <label class="form-label-float" for="username_field">{{ form.username.label }}</label>
            </div>
            <div class="form-floating mb-3">
              <input name="password" type="password" class="form-control" id="password_field" placeholder="Password" required>
              <label class="form-label-float" for="password_field">{{ form.password.label }}</label>
            </div>

            <div class="form-check">
                <input type="checkbox" name="remember-me" class="form-check-input" id="remember-me">
                <label class="form-check-label" for="remember-me">Remember me</label>
            </div>
            <div class="d-flex pt-1 justify-content-center">
               <button type="submit" class="btn btn-grad btn-lg" id="form-btn" >Submit</button>
            </div>
        </form>

        <!-- option to register if no account yet -->
        <div class="d-flex mt-4 justify-content-center links">
            Don't have a helper account? <a href="{% url 'helperRegister' %}" class="form-link ms-3">Sign Up</a>
        </div>
        <!-- option to reset password if forgotten -->
        <div class="d-flex mt-4 justify-content-center links">
            <a class="form-link m-auto" href="{% url 'password_reset' %}">Forgotten password?</a>
        </div>

    </div>
{% endblock %}