{% extends 'mainFDM/base.html' %}

{%block title%}Reset Email Sent{%endblock%}

{%block header%}
Check your mailbox!
{%endblock%}

<!-- inside the main row for columns, attributes specified within base.html -->
{% block row1 %}

<!-- container with info about the reset email being sent -->
<div class="container">
	<div class="d-flex flex-column">
		  <h4 class="m-auto p-2">
		    We've emailed you instructions for setting your password, if an account exists with the email you entered.<br>
		    You should receive them shortly.
		  </h4>
		  <h4 class="m-auto p-2">
		    If you don't receive an email, please make sure you've entered the email address you're registered with,<br>
		    and check your spam folder.
		  </h4>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Go back to home page</a></p>
	</div>
</div>

{% endblock %}